body {
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
}

header {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

a {
    text-decoration: none;
    padding: 0px 4px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.top-content {
    display: flex;
    justify-content: center;
    padding: 52px 0;
}

.image {
    background-color: #E5E7EB;
    width: 500px;
    height: 250px;
    flex-shrink: 0;
}

.main-text {
    flex-shrink: 2;
    width: 500px;
    height: 250px;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -20px;
}

.btn {
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #3882f6;
    color: #E5E7EB;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 30px;
}

h1 {
    padding: 0;
    margin: 0;
}

.infoheader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info {
    background-color: #F9FAF8;
    margin: 0;
    padding: 52px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.imgcontent {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.illustration {
    width: 100px;
    height: 100px;
    border: #3882f6 solid;
    border-radius: 10px;
}

.imgcontent div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;

}

.imgcontent p {
    flex-wrap: wrap;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    padding: 52px 0;
    display: flex;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote div {
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.quote-author {
    align-self: flex-end;
}

.signup {
    background-color: #F9FAF8;
    padding: 52px 150px;
    
}

.box {
    display: flex;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 26px 48px;
    justify-content: center;
    align-self: center;
    gap: 16px;
}

.box-main {
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.box-second {
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.box-btn {
    color: #F9FAF8;
    background-color: #3882f6;
    border: #F9FAF8 solid;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    align-self: center;
    
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #F9FAF8;
}